.column-rand-4 {
    grid-template-columns: 3fr 3fr 2fr 2fr;
}

@media (max-width: 575px) {
    .column-rand-4 {
        grid-template-columns: 1fr;
    }
}

.passenger-input,
select.gender-select {
  padding: 4px 11px;
  background: #fff;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgb(209, 212, 227);
  border-radius: 3px;
  height: 40px;
  width: 100%;
}
.gender-select::selected {
  color: rgb(209, 212, 227);
}
.payment-input:focus-visible {
  outline: 0px !important;
}

.payment-input:focus {
  outline: none !important;
}
.timeline-icon.line {
  position: relative;
  display: inline-block;
}
.timeline-icon.line.active p {
  background: #12172a;
  color: #fff;
}
.timeline-icon.line:before {
  position: absolute;
  content: "";
  left: 16px;
  top: 12.5px;
  background-color: #12172a;
  height: 1px;
  width: 192px;
  z-index: 0;
}
.payment-pages > .MuiBox-root.css-0 {
  line-height: 0;
}

.wlc-modal-content
  .MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthMd.MuiDialog-paperFullWidth {
  background: #1a2e4a !important;
  /* overflow-y: inherit; */
}

/*sidebar*/
.sidebar-inner-wrap .sidebar-filter:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(225, 227, 238, 0.8);
  padding-bottom: 25px;
}

.MuiDialog-root.mobile-modal-filter
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  max-width: calc(100% - 30px);
  width: 100%;
}

.mobile-filter-btn {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  min-width: 60px;
  max-width: 120px;
  width: 30%;
  height: 36px;
  background-color: rgb(209, 212, 227);
  color: rgba(7, 14, 57, 0.5);
  margin-right: 15px;
}
button.mobile-filter-btn.apply-btn {
  margin-right: 0;
  background: #000317;
  color: #fff;
}
/* .heading-img {
  position: relative;
  margin-top: -75px;
  z-index: 999;
} */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .timeline-icon.line:before {
    width: 182px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .timeline-icon.line:before {
    width: 182px;
  }
  .wlc-modal-btn {
    width: 168px;
  }
  a.booking-btn {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: inherit;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthLg.MuiDialog-paperFullWidth.css-cyxlny-MuiPaper-root-MuiDialog-paper {
    overflow: inherit;
  }
}

@media (max-width: 575px) {
  a.booking-btn {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: inherit;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthLg.MuiDialog-paperFullWidth.css-cyxlny-MuiPaper-root-MuiDialog-paper {
    overflow: inherit;
  }
}


.hidden {
    display: none !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.multi-city {
    margin-top: 30px;
}

.multi-city-item {
    display: inline-block;
    cursor: pointer;
    background: white;
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    margin: 5px; 
}

.multi-city-item .origin,
.multi-city-item .destination {
    position: relative;
    margin-left: 15px;
}

.multi-city-item .destination {
    margin-top: 15px;
}

.multi-city-item .dots {
    transform: rotate(90deg);
    position: absolute;
    margin-top: -1px;    
}

.multi-city-item .date {
    margin-top: 10px;
}

.multi-city-item .origin:before,
.multi-city-item .destination:before {
    content: ' ';
    border: 2px solid #12172b;
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: -16px;
    width: 10px;
    height: 10px;
}

.multi-city-item.active .origin:before,
.multi-city-item.active .destination:before {
    border-color: white;
}

.multi-city-item.active {
    background: #12172b;
    color: white;    
}

@media (max-width: 767px) {
    .multi-city-item {
        width: calc(100% - 10px);
    }
}

/* search-result-card-grid loading */

.search-result-card-grid.loading .flight-name img,
.search-result-card-grid.loading p,
.search-result-card-grid.loading .cta-info a,
.search-result-card-grid.loading .dropdown-btn {
    display: none;
}

.search-result-card-grid.loading span,
.search-result-card-grid.loading a,
.search-result-card-grid.loading .airlineName,
.search-result-card-grid.loading .price,
.search-result-card-grid.loading .flight-category,
.search-result-card-grid.loading .directFlight,
.search-result-card-grid.loading .totalFlightDuration,
.search-result-card-grid.loading .departureTime,
.search-result-card-grid.loading .airportCode,
.search-result-card-grid.loading .arrivalTime,
.search-result-card-grid.loading .airportCodeTo {
    color: #d1d4e3;
    overflow: hidden;
    background: #d1d4e3;
    position: relative;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


/*.search-result-card-grid.loading span:after,*/
.search-result-card-grid.loading a:after,
.search-result-card-grid.loading .airlineName:after,
.search-result-card-grid.loading .price:after,
.search-result-card-grid.loading .flight-category:after,
.search-result-card-grid.loading .directFlight:after,
.search-result-card-grid.loading .totalFlightDuration:after,
.search-result-card-grid.loading .departureTime:after,
.search-result-card-grid.loading .airportCode:after,
.search-result-card-grid.loading .arrivalTime:after,
.search-result-card-grid.loading .airportCodeTo:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: shimmer 2s infinite;
}

/*  */

cta-top {
    padding: 0;
}

/* online  */



.header-right div span::before,
.cta-top p.online span::before {
    height: 10px;
    width: 10px;
/*    border: 1px solid #00ff2f;*/
/*    margin-top: -6px;*/
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.no-offers {
    background: white;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

/* scroll top */

#scroll-top {
    display: inline-block;
    background-color: #82848e;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,opacity .5s,visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000
}

#scroll-top svg {
    color: white;
    font-size: 48px;
}

#scroll-top:hover {
    cursor: pointer;
    background-color: #12172b;
}

#scroll-top:active {
    background-color: #555
}

#scroll-top.show {
    opacity: 1;
    visibility: visible
}

/* animations */

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0.1; }
}


@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}






