.passenger-input,
select.gender-select {
  padding: 4px 11px;
  background: #fff;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgb(209, 212, 227);
  border-radius: 3px;
  height: 40px;
  width: 100%;
}
.gender-select::selected {
  color: rgb(209, 212, 227);
}
.payment-input:focus-visible {
  outline: 0px !important;
}

.payment-input:focus {
  outline: none !important;
}
.timeline-icon.line {
  position: relative;
  display: inline-block;
}
.timeline-icon.line.active p {
  background: #12172a;
  color: #fff;
}
.timeline-icon.line:before {
  position: absolute;
  content: "";
  left: 16px;
  top: 12.5px;
  background-color: #12172a;
  height: 1px;
  width: 192px;
  z-index: 0;
}
.payment-pages > .MuiBox-root.css-0 {
  line-height: 0;
}

.wlc-modal-content
  .MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthLg.MuiDialog-paperFullWidth {
  background: #1a2e4a !important;
}

/*sidebar*/
.sidebar-inner-wrap .sidebar-filter:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(225, 227, 238, 0.8);
  padding-bottom: 25px;
}

.MuiDialog-root.mobile-modal-filter
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  max-width: calc(100% - 30px);
  width: 100%;
}

.mobile-filter-btn {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  min-width: 60px;
  max-width: 120px;
  width: 30%;
  height: 36px;
  background-color: rgb(209, 212, 227);
  color: rgba(7, 14, 57, 0.5);
  margin-right: 15px;
}
button.mobile-filter-btn.apply-btn {
  margin-right: 0;
  background: #000317;
  color: #fff;
}
.heading-img {
  position: relative;
  margin-top: -75px;
  z-index: 999;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .timeline-icon.line:before {
    width: 182px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .timeline-icon.line:before {
    width: 182px;
  }
  .wlc-modal-btn {
    width: 168px;
  }
  a.booking-btn {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: inherit;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthLg.MuiDialog-paperFullWidth.css-cyxlny-MuiPaper-root-MuiDialog-paper {
    overflow: inherit;
  }
}

@media (max-width: 575px) {
  a.booking-btn {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: inherit;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthLg.MuiDialog-paperFullWidth.css-cyxlny-MuiPaper-root-MuiDialog-paper {
    overflow: inherit;
  }
}
