.passenger-input,
select.gender-select {
  padding: 4px 11px;
  background: #fff;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgb(209, 212, 227);
  border-radius: 3px;
  height: 40px;
  width: 100%;
}
.gender-select::selected {
  color: rgb(209, 212, 227);
}
.payment-input:focus-visible {
  outline: 0px !important;
}

.payment-input:focus {
  outline: none !important;
}
.timeline-icon.line {
  position: relative;
  display: inline-block;
}
.timeline-icon.line:before {
  position: absolute;
  content: "";
  left: 16px;
  top: 12.5px;
  background-color: #12172a;
  height: 1px;
  width: 192px;
  z-index: 0;
}
.payment-pages > .MuiBox-root.css-0 {
  line-height: 0;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .timeline-icon.line:before {
    width: 182px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .timeline-icon.line:before {
    width: 182px;
  }
}
