html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Public Sans", "Lato", "Heebo", "Jaldi", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 239, 245);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* .desktopNone {
  display: none;
} */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 15px;
}
.grid {
  display: grid;
}
.grid-column {
  grid-template-columns: 1fr 3fr;
}
.column-rand {
  grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
  gap: 8px;
}
.column-3 {
  grid-template-columns: 3fr 3fr 3fr;
  gap: 1.2px;
}
.mt-5 {
  margin-top: 20px;
}
.d-flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.align-item {
  align-items: center;
}

.header {
  background: #fff;
  box-shadow: rgb(101 101 101 / 5%) 4px 4px 12px;
  padding: 15px 0;
}
.logo > div {
  display: none;
}
.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-right div {
  text-align: right;
}
.header-right div p {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-family: "Jaldi", sans-serif;
  color: #121729;
}
.header-right div span {
  font-size: 16px;
  font-family: "Jaldi", sans-serif;
  color: #121729;
  line-height: 20px;
  position: relative;
  padding-left: 15px;
}
.header-right div span::before,
.cta-top p.online span::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 8px;
  width: 8px;
  background: #009858;
  content: "";
  border-radius: 50%;
  margin-top: -4px;
}

.header-right a {
  display: inline-block;
  background: #12172a;
  padding: 5px 26px;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  margin-left: 10px;
  transition: all 0.3s ease 0s;
}
.header-right a svg {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 6px;
}
.header-right a:hover {
  color: #12172a;
  background: #e8f4f7;
}
.footer {
  background: #e8f4f7;
  margin-top: 50px;
  padding: 10px 0;
}
.footer .header-right a:hover {
  background: #fff;
  color: #12172a;
}

/**/

.top-search {
  padding: 30px 0;
}
.top-search .search-form {
  border-bottom: 1px solid rgba(225, 227, 238, 0.6);
  padding-bottom: 30px;
}
.dropdown-toggle {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease 0s;
  background-color: white;
  visibility: hidden;
  width: 287px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 10px;
  padding: 22px 15px 16px;
}

/* Dropdown menu open state */
.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

.passenger-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.search-form .field {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  height: 60px;
}
.search-form .field label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: rgb(0, 3, 23);
  font-family: "Public Sans", sans-serif;
}
.search-form .field .form-control {
  display: block;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  padding: 5px 0px;
  height: 30px;
  outline: none;
}
.search-form button[type="submit"] {
  background: #12172a;
  color: #fff;
  border: 0px solid;
  border-radius: 4px;
  font-size: 22px;
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.search-form button[type="submit"] svg {
  font-size: 22px;
  position: relative;
  right: -5px;
  top: 5px;
}
.search-form button[type="submit"]:hover {
  background: #e8f4f7;
  color: #12172a;
}

/**/
.cta-top {
  padding: 0px 0px 20px;
  display: grid;
  gap: 8px;
  grid-template-columns: 4fr 2fr 2fr;
}

.cta-top p {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  color: #121729;
  font-family: "Jaldi", sans-serif;
}

.cta-top p strong {
  color: #c83639;
}

.cta-top p.online {
  font-weight: 700;
  font-size: 16px;
}

.cta-top p.online span {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #13172a;
  position: relative;
  font-weight: 400;
  padding-left: 15px;
}

.cta-top a {
  font-size: 27px;
  color: #12172a;
  text-decoration: none;
  font-weight: 700;
  margin-top: 8px;
  text-align: right;
}

/**/
.progress-bar-area {
  margin-bottom: 10px;
}
.progress-bar-area p {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Jaldi", sans-serif;
  display: inline-flex;
  align-items: center;
}
.progress-bar-area p img {
  margin-right: 10px;
}
.progress {
  height: 12px;
  width: 100%;
  background: #fff;
  overflow: hidden;
  border-radius: 0.375rem;
  display: flex;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #12172a;
  transition: width 0.6s ease;
}
.progress-bar.w-75 {
  width: 75% !important;
}

/**/
.inline-flex select#flightType {
  background: transparent;
  border: none;
  margin-right: 25px;
}
.search-filter {
  padding: 7px 14px 10px 24px;
  background: #fff;
  border-radius: 5px;
  height: 74px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.search-filter h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 3, 23);
  line-height: 28px;
  margin: 0 0 4px;
  font-family: "Lato", sans-serif;
}
.search-filter .priceDesktop {
  display: inline;
  font-weight: 700;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}
.search-filter .tabDuration {
  font-family: Roboto;
  margin-left: 7px;
  font-size: 14px;
  font-weight: 300;
}
.search-filter.active {
  background: #12172a;
}
.search-filter.active h3,
.search-filter.active .priceDesktop,
.search-filter.active .tabDuration {
  color: #fff;
}

/**/
.search-result-wrap {
  margin-top: 30px;
}
.search-result-card-grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 1.2px;
}
.search-result-wrap .search-result-card-grid:not(:last-child) {
  margin-bottom: 30px;
}
.search-result-card-grid .flight-duration-time {
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  grid-column: 1 / span 2;
  padding: 18px 50px 30px;
}
.search-result-card-grid .flight-duration-time.ConformSearchGrid {
  grid-column: 1 / span 4;
  border-radius: 5px;
}
.flight-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.flight-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flight-name img {
  width: 30px;
  margin-right: 5px;
}
.flight-name .airlineName {
  font-family: Heebo;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(7, 14, 57, 0.5);
  padding-left: 5px;
}
.flight-category {
  padding-left: 12px;
  padding-right: 12px;
  height: 22px;
  border-radius: 10px;
  background-color: rgb(238, 241, 248);
  color: rgba(7, 14, 57, 0.75);
  text-align: center;
  font-family: "Public Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 22px;
}
span.departureTime,
.arrivalTime {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 3, 23);
  font-family: -apple-system-, BlinkMacSystemFont, sans-serif;
  margin-bottom: 6px;
  display: block;
}

span.airportCode,
span.airportCodeTo {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: rgba(7, 14, 57, 0.75);
  font-family: -apple-system-, BlinkMacSystemFont, sans-serif;
  display: block;
}
.flightDurationWrap {
  text-align: center;
}
span.totalFlightDuration {
  font-size: 12px;
  color: rgba(7, 14, 57, 0.75);
  font-weight: 400;
  font-family: -apple-system-, BlinkMacSystemFont, sans-serif;
}
span.lineAndDots {
  display: block;
  height: 1px;
  background-color: rgb(209, 212, 227);
  position: relative;
  margin: 7px 0;
}
span.lineAndDots::before,
span.lineAndDots::after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 7px;
  width: 7px;
  background-color: rgb(209, 212, 227);
  content: "";
  border-radius: 50%;
  transform: translateY(-50%);
}
span.lineAndDots::after {
  left: auto;
  right: 0;
}
span.directFlight {
  font-size: 12px;
  font-weight: 700;
  color: rgb(19, 194, 155);
  font-family: -apple-system-, BlinkMacSystemFont, sans-serif;
}
.arrivalTimeWrap span.arrivalTime,
.arrivalTimeWrap span.airportCodeTo {
  text-align: right;
  display: block;
}

.single-flight-time {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}
.flight-duration-time .single-flight-time:not(:last-child) {
  margin-bottom: 25px;
}

.search-result-card-grid .flight-price-wrap {
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  text-align: center;
}
.flight-price-wrap .desktop-none {
  font-family: "Jaldi", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: none;
}
.flight-price-wrap .price {
  font-weight: 700;
  font-size: 26px;
  font-family: "Jaldi", sans-serif;
  margin-bottom: 15px;
  line-height: 28px;
}
.flight-price-wrap .addToCart {
  display: block;
  background: #12172a;
  border: 0px solid;
  color: #fff;
  height: 42px;
  border-radius: 5px;
  width: 150px;
  font-size: 22px;
  font-weight: 600;
  font-family: "Jaldi", sans-serif;
  margin: 0 auto 12px;
  cursor: pointer;
  text-decoration: none;
}
.flight-price-wrap .addToCart svg {
  position: relative;
  top: 5px;
  right: -4px;
}
.flight-price-wrap span.info-btn {
  display: inline-block;
  background: #cd363a;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Jaldi", sans-serif;
  font-weight: 600;
  line-height: 18px;
}
span.info-btn svg {
  position: relative;
  top: 3px;
  padding-right: 2px;
}
.cta-info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  margin-top: 15px;
}
.cta-info p {
  display: inline-block;
  margin: 0;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #12172a;
  font-family: "Jaldi", sans-serif;
  text-transform: uppercase;
}
.cta-info p svg {
  font-size: 25px;
  position: relative;
  margin-top: -12px;
  top: 9px;
  right: -4px;
}

.cta-info a {
  display: inline-block;
  font-size: 14px;
  color: #12172a;
  text-decoration: none;
  font-weight: 700;
  font-family: "Jaldi", sans-serif;
}
.cta-info a svg {
  font-size: 12px;
  position: relative;
  top: 2px;
  right: 4px;
}

.flight-price-wrap .dropdown-btn {
  background: #eef0f4;
  border: 0px solid;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 6px;
}

.search-result-card-grid .flight-fare-details {
  background: #fff;
  grid-column: 1 / span 3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 18px 50px;
  opacity: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  display: none;
}
.search-result-card-grid .flight-fare-details.open {
  visibility: visible;
  opacity: 1;
  display: block;
}
.btn-show-filter {
  height: 39px;
  padding: 8px;
  border: none;
  color: rgba(7, 14, 57, 0.75);
  border-radius: 5px;
  white-space: nowrap;
  background-color: rgb(209, 212, 227);
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

@media (min-width: 1200px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-top p {
    font-size: 18px;
  }
  .cta-top p.online {
    font-size: 14px;
  }
  .cta-top a {
    font-size: 26px;
  }
  .search-result-card-grid .flight-price-wrap {
    padding: 20px 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right div p {
    font-size: 18px;
  }
  .header-right a {
    padding: 5px 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .cta-top p {
    font-size: 18px;
  }
  .header-right div p {
    font-size: 16px;
  }
  .cta-top p.online {
    font-size: 16px;
  }
  .cta-top a {
    font-size: 20px;
  }
  .top-search {
    display: none;
  }
  .search-result-area .desktopNone {
    display: block;
  }
}

@media (max-width: 575px) {
  .header .grid.grid-column,
  .footer .grid.grid-column {
    display: block;
  }
  .logo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .logo > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo > div span {
    font-family: "Jaldi";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #0b0a3e;
    line-height: 20px;
  }
  .header-right {
    display: block;
    margin-top: 6px;
  }
  .header-right a,
  .search-filter .tabDuration {
    display: none;
  }
  .logo > div a {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #cd363a;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
  }
  .logo > div a svg {
    color: #fff;
    position: relative;
    top: 2px;
  }
  .header-right div p {
    font-size: 18px;
  }
  .cta-top {
    gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .cta-top p {
    font-size: 18px;
  }
  .cta-top p:first-child {
    grid-column: span 12;
  }
  .cta-top p.online {
    font-size: 15px;
    grid-column: span 6;
  }
  .cta-top a {
    font-size: 22px;
    grid-column: span 6;
  }
  .top-search {
    display: none;
  }
  .search-filter {
    padding: 7px 14px 7px 14px;
  }
  .search-result-card-grid {
    grid-template-columns: 2fr 2fr 2fr;
  }
  .search-result-card-grid .flight-duration-time {
    grid-column: span 12;
    padding: 18px 20px 30px;
  }
  .search-result-card-grid .flight-price-wrap,
  .search-result-card-grid .flight-fare-details {
    grid-column: span 12;
  }

  .flight-price-wrap .desktop-none {
    display: block;
  }
  .column-rand {
    grid-template-columns: 1fr;
  }
  /**/
  .mobileFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobileFlex > div {
    text-align: left;
  }
  .mobileFlex > div .desktopNone,
  .search-result-area .desktopNone {
    display: block;
  }
  .mobileFlex > div:last-child {
    display: flex;
    text-align: center;
  }
  .mobileFlex > div .desktopNone .dropdown-btn {
    width: 42px;
    height: 42px;
    margin: 0;
    font-size: 25px;
    margin-right: 10px;
    line-height: 45px;
  }
  .mobileName {
    display: none;
  }
  .flight-price-wrap span.info-btn {
    font-size: 16px;
    width: 100%;
  }
  .flight-price-wrap span.info-btn svg {
    padding-right: 1px;
    margin-right: 16px;
  }
  .flight-price-wrap .addToCart {
    line-height: 42px;
  }
  .cta-info p {
    font-size: 16px;
  }
  .cta-info a {
    font-size: 20px;
  }
  .cta-info a svg {
    font-size: 14px;
    top: 1px;
  }
}
